.main-player-entry {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.close-button {
  background-color: green;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  height: 500px;
}

.img-holder {
  margin-top: 0;
}
